@import '../Styles/Variables/variables';

.product-card{
    // display: flex;
    // flex-wrap: wrap;
    margin: 0 -8px;
    .single-product{
        padding: 8px;
        // flex: 1 0 25%;
        .product-inner-wrap{
            background-color: #fff;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
            border-radius: 10px;
            overflow: hidden;
            padding-bottom: 10px;
            position: relative;
            .product-img{
                width: 100%;
            }
            .product-title{
                font-size: 18px;
                font-weight: 500;
                color: #041131;
                padding: 10px 10px 0;
            }
            .product-descr{
                font-size: 14px;
                font-weight: 300;
                color: #041131;
                padding: 10px 10px 0;
            }
            .product-rate{
                font-size: 16px;
                font-weight: 700;
                color: #041131;
                padding: 10px 10px;
                position: relative;
                &:before{
                    content: 'Rs.';
                }
            }

            .add-to-cart-btn{
                display: none;
                background-color: $btnColor;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                padding: 10px;
                width: calc(100% - 20px);
                text-align: center;
                line-height: 24px;
                border-radius: 6px;
                border: 0;
                height: 44px;
                position: relative;
                left: 10px;
                cursor: pointer;
                margin-top: 10px;
            }
            &:hover{
                .add-to-cart-btn{
                    display: block;
                }

                .like-product{
                    opacity: 1;
                }
            }

            .like-product{
                position: absolute;
                right: 20px;
                top: 20px;
                opacity: 0;
                transition: .5s ease;
                svg{
                    path{
                        fill: $redHeart;
                    }
                }
            }

        }
    }
}

@media (max-width: 992px){
    .product-card{
        .single-product{
            .product-inner-wrap{
                .product-title{
                    font-size: 15px;
                }
                
                .product-rate{
                    font-size: 14px;
                }
            }
        }
    }
}